/.vscode
/23BCE1746
/boi.html
/caod3.cpp
/caod3.exe
/caod3.ilk
/caod3.pdb
/chat_users.db
/CN_project
/code_paster.py
/cpp
/currency-converter-app
/currency-converter-app.tar
/data_2022.xlsx
/delhi_data.xlsx
/EdTech App
/facts.csv
/hello.py
/hello2.py
/java_dsa
/july-aug
/july_aug.xlsx
/lvUpBooksGen.py
/monthlyData
/os
/password.py
/pattern.txt
/pdf_2022
/pdf_downloads
/pdf_download_from_url.py
/rename.py
/secret.key
/sep
/september.xlsx
/square and   cube.txt
/square and cube.txt
/style.css
/test
/url_list.py
/Videos - Shortcut.lnk
/web_dev
/web_dev_project
/ytaut